<div>
	<h3>Патроны</h3>
	<div class="options_block" style="margin-top: 30px">
		<selectium class="selectium" id="patron_sort" options="patronSortOptions" values="patronSortValues"
			default="patronSortDefault" name="patronSort"> </selectium>
	</div>
	<div class="price_range">
		<p>Диапазон цен:</p>
		<div id="patronPrice" style="width: 200px"></div>
		<div id="patronPriceBlock" class="price_range">
			от <p id="priceFrom" style="margin: 5px">0</p> - до <p style="margin: 5px" id="priceTo">{{maxPrice}}</p>
		</div>
	</div>
	<div class="options_block" style="margin-bottom: 30px">
		<multiple-selectium class="multi_selectium" id="patron_color" options="patronColorOptions"
			placeholder="Цвет" name="patronColor"> </multiple-selectium>
		<multiple-selectium class="multi_selectium" id="patron_material" options="patronMaterialOptions"
			placeholder="Материал" name="patronMaterial"> </multiple-selectium>
		<multiple-selectium class="multi_selectium" id="patron_height" options="patronHeightOptions"
			placeholder="Высота" name="patronHeight"> </multiple-selectium>
	</div>
	<div class="items" id="items">
		<div ng-repeat="item in items | filter:filterFunction | orderBy : sort : sortDirection" class="item_block">
			<div class="item" name="modalItem" modalData={{getModalData(item.id)}} ng-click="setModalDataFunc()">
				<span ng-click="addToCart(item.id, $event)" class="cart_style"><i class="fas fa-cart-plus"></i></span>
				<img ng-src="{{item.image}}" width="250px" height="250px">
				<div>
					<p>{{item.name}}</p>
					<p style="font-weight: bold;">{{item.price}}<i class="fas fa-ruble-sign"></i></p>
				</div>
			</div>
		</div>
	</div>
</div>