<div>
	<h3>Торшеры</h3>
	<div class="options_block" style="margin-top: 30px">
		<selectium class="selectium" id="torsher_sort" options="torsherSortOptions" values="torsherSortValues"
			default="torsherSortDefault" name="torsherSort"> </selectium>
	</div>
	<div class="price_range">
		<p>Диапазон цен:</p>
		<div id="torsherPrice" style="width: 200px"></div>
		<div id="torsherPriceBlock" class="price_range">
			от <p id="priceFrom" style="margin: 5px">0</p> - до <p style="margin: 5px" id="priceTo">{{maxPrice}}</p>
		</div>
	</div>
	<div class="options_block" style="margin-bottom: 30px">
		<multiple-selectium class="multi_selectium" id="torsher_color" options="torsherColorOptions"
			placeholder="Цвет" name="torsherColor"> </multiple-selectium>
		<multiple-selectium class="multi_selectium" id="torsher_material" options="torsherMaterialOptions"
			placeholder="Материал" name="torsherMaterial"> </multiple-selectium>
		<multiple-selectium class="multi_selectium" id="torsher_height" options="torsherHeightOptions"
			placeholder="Высота" name="torsherHeight"> </multiple-selectium>
		<multiple-selectium class="multi_selectium" id="torsher_width" options="torsherWidthOptions"
			placeholder="Ширина" name="torsherWidth"> </multiple-selectium>
		<multiple-selectium class="multi_selectium" id="torsher_lamps" options="torsherLampOptions"
			placeholder="Количество ламп" name="torsherLamps"> </multiple-selectium>
	</div>
	<div class="items" id="items">
		<div ng-repeat="item in items | filter:filterFunction | orderBy : sort : sortDirection" class="item_block">
			<div class="item" name="modalItem" modalData={{getModalData(item.id)}} ng-click="setModalDataFunc()">
				<span ng-click="addToCart(item.id, $event)" class="cart_style"><i class="fas fa-cart-plus"></i></span>
				<img ng-src="{{item.image}}" width="250px" height="250px">
				<div>
					<p>{{item.name}}</p>
					<p style="font-weight: bold;">{{item.price}}<i class="fas fa-ruble-sign"></i></p>
				</div>
			</div>
		</div>
	</div>
</div>